<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Home | Yash Shah</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>Yash's Personal Spring Portfolio</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/VPN.png}" alt="Java Development" height="250">
                    <div class="card-body">
                    <h4 class="card-title">VPN Guide</h4>
                    <p class="card-text">
                        <ol>
                            <li>Java 11-17 is used for PBL. Java 8 appears to be College Board standard.  Java features like Reactive Streams, HTTP2 client, JShell, React JS are more recent than 8.</li>
                            <li>GitHub.  Learning to master managing change, branches, pull requests, and more.</li>
                            <li>Development DevOps. Java programmers should have a passion for managing the environment and learning automation (Git, Maven, Docker).</li>
                            <li>REST and Microservice using Spring.  Mastering creating and consuming RESTful APIs</li>
                        </ol>
                    </p>
                    <a href="/VPNGuide" class="btn btn-primary">Go The VPN Guide</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/Arraylist.jpeg}" alt="ArrayList Presentation" height="250">
                    <div class="card-body">
                    <h4 class="card-title">ArrayLists Presentation</h4>
                    <p class="card-text">
                        <ol>
                            <li>Spring Framework is the most popular application development framework of Java. </li>
                            <li>Spring Boot helps to create a stand-alone application with less configuration.</li>
                            <li>Spring MVC is a model view controller-based web framework under the Spring framework.</li>
                            <li>ThymeLeaf is a server-side Java template engine, supports HTML5 JVM web development, and provides full integration with Spring Framework.</li>
                        </ol>
                    </p>
                    <a href="https://yashshah138.github.io/Fastpages/week-10/2022/10/26/ArrayList-Presentation.html" class="btn btn-primary" target="_blank" rel="noreferrer noopener">Go to ArrayList presentation</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/FRQ.png}" alt="AP FRQ" height="250">
                    <div class="card-body">
                    <h4 class="card-title">FRQs</h4>
                    <p class="card-text">
                        <h5>This page has all the FRQs that I will work on in AP Computer Science A.</h5>
                        <ol>
                            <li>Free Response 1</li>
                            <li>Free Response 2</li>
                            <li>Free Response 3</li>
                            <li>Free Response 4</li>
                        </ol>
                    </p>
                    <a href="/FRQs" class="btn btn-primary">Go To A List of All FRQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>