<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Home | Yash Shah</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>Yash's Personal Spring Portfolio</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/VPN.png}" alt="Java Development" height="250">
                    <div class="card-body">
                    <h4 class="card-title">VPN Guide</h4>
                    <p class="card-text">
                        <h5>This page guides users on what VPNs are, what they do, and how to install them.</h5>
                        <ol>
                            <li>What Are Virtual Private Networks (VPN)</li>
                            <li>How Does A VPN Work</li>
                            <li>Setting Up A VPN</li>
                            <li>Recommended Software</li>
                        </ol>
                    </p>
                    <a href="/VPNGuide" class="btn btn-primary">Go The VPN Guide</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/Arraylist.jpeg}" alt="ArrayList Presentation" height="250">
                    <div class="card-body">
                    <h4 class="card-title">ArrayLists Presentation</h4>
                    <p class="card-text">
                        <h5>This presentation is the lesson plan we have to teach fellow classmates about ArrayLists.</h5>
                        <ol>
                            <li>Instantiation</li>
                            <li>ArrayList methods</li>
                            <li>Developing algorithms with ArrayLists</li>
                            <li>Sorting</li>
                        </ol>
                    </p>
                    <a href="https://yashshah138.github.io/Fastpages/week-10/2022/10/26/ArrayList-Presentation.html" class="btn btn-primary" target="_blank" rel="noreferrer noopener">Go to ArrayList presentation</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/FRQ.png}" alt="AP FRQ" height="250">
                    <div class="card-body">
                    <h4 class="card-title">FRQs</h4>
                    <p class="card-text">
                        <h5>This page has all the FRQs that I will work on in AP Computer Science A.</h5>
                        <ol>
                            <li>Free Response 1</li>
                            <li>Free Response 2</li>
                            <li>Free Response 3</li>
                            <li>Free Response 4</li>
                        </ol>
                    </p>
                    <a href="/FRQs" class="btn btn-primary">Go To A List of All FRQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>